.our-blog-title {
  font-family: "Dancing Script", cursive;
  color: red;
  font-weight: bold;
  font-size: 40px;
}
.our-blog-sub-title {
  font-size: 16px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.ourBlogImg {
  
}
.our-blog-heading-title {
  color: black;
  text-decoration: none;
}
.our-blog-heading-title:hover {
  color: red;
}
.our-blog-style{
  
}
.ourBlogImg {
  height: 200px;
  width: 100%;
}