.story-title {
  font-family: "Dancing Script", cursive;
  color: red;
  font-weight: bold;
  font-size: 40px;
}

.story-sub-title{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.story-description{
    font-family: 'Open Sans', sans-serif;
}