/* font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.dancing-text{
    font-family: 'Dancing Script', cursive;
}
.ubuntu-text{
    font-family: 'Ubuntu', sans-serif;
}
.openSans-text{
    font-family: 'Open Sans', sans-serif;
}