/* font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */
.dancing-text {
  font-family: "Dancing Script", cursive;
}
.ubuntu-text {
  font-family: "Ubuntu", sans-serif;
}
.openSans-text {
  font-family: "Open Sans", sans-serif;
}
.btn-background {
  background: #c10004;
  background: -webkit-linear-gradient(top left, #c10004, #e04a22);
  background: -moz-linear-gradient(top left, #c10004, #e04a22);
  background: linear-gradient(to bottom right, #c10004, #e04a22);
}
