.navbar-font-style {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #ffff !important;
}
.navbar-font-style:hover {
  color: red !important;
}
.navbar-bg-color {
  background: rgba(0, 0, 0, 0.383) !important;
}
.navbar-bg-color.active {
  background: rgb(0, 0, 0) !important;
}

/* @media (max-width: 640px) {
  .navbar-style-bg-color {
    background: rgb(0, 0, 0) !important;
  }
} */
